@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Orbitron:wght@400;700;900&display=swap');
*{
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
    list-style: none;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.boxx{
    position: relative;
    bottom: 13vh;
    height: 100vh;
    opacity: 0.55;
    background-image: url(/images/jay-dkFJST9zZZo-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.section3{
    display: flex;
    justify-content: space-evenly;
}


.section2 div h1{
    font-size: 25px;
}

.section2 div{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27vw;
    border: 3px solid #ff5060;
    text-align: center;
    gap: 20px 0;
    border-radius: 15px;
    background-color: #1f2024;
    box-shadow: 0 0 20px 5px rgba(255,0,0,0.5);
}


    .section2 div p {
        width: 25vw;
    }

    .section2 div span{
        font-size: 39px;
    }

.guide ,.guide1{
    text-align: center;
    margin-bottom: 10px;
}

.guide{
    font-size: 40px;
}

.guide1{
    font-size: 15px;
    opacity: 0.7;
}


.section3 div p{
    width: 25vw;
    opacity: 0.6;
}




@media (max-width:520px){
    .section2 div{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    border: 3px solid #ff5060;
    text-align: center;
    gap: 15px 0;
    border-radius: 15px;
    background-color: #1f2024;
    box-shadow: 0 0 20px 5px rgba(255,0,0,0.5);
}

.section2 div h1{
    font-size: 20px;
}
.section2 div p{
    width: 55vw;
    text-align: center;
}



}