
 
.pannier{
    display: flex;
    gap: 30px;
    margin: 30px 20px;
    position: relative;
}


.part1-pannier{
    border: 2px solid red;
    border-radius: 7px;
    display: flex;
    gap: 70px;
    width: 50vw;
    margin-top: 10px;
}

.part1-pannier img{
    padding: 10px 2px ;
    margin-left:20px;
}

.details-pannier{
    display: flex;
    flex-direction: column;
}

.details-pannier p{
    font-size: 30px;
}

.part2-total{
    border: 2px solid #ff5060;
    border-radius: 7px;
}

.buttons-pannier{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-right: 10px;
}

.buttons-pannier button{
    padding: 0px 14px;
    font-size: 25px;
    border-radius: 5px;
}

.buttons-pannier button:nth-of-type(1){
    background-color: red;
   
}
.buttons-pannier button:nth-of-type(2){
    background-color: green;
   
}

.part2-total{
    /* padding: 70px 300px; */
    width:100%;
    height:15vw;
    margin-top: 10px;
}


.part2-total h1{
    text-align: center;
    font-size: 30px;
}


@media (max-width:520px){
    
.pannier{
    
    flex-direction: column;

}

.part1-pannier{
    border: 2px solid #ff5060;
    border-radius: 7px;
    display: flex;
    gap: 30px;
    width: 100%;
    align-items: center;
}

.details-pannier p{
    font-size: 20px;
    display: flex;
}



}