@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700;900&family=Orbitron:wght@400;700;900&display=swap');
*{
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    font-style: normal;
    text-decoration: none;
    list-style: none;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;   
    height: 100vh;
}





nav{
    border-bottom: 1px solid rgba(255, 255, 255, 0.189);
    background-color: rgba(187, 176, 176, 0.094);
    height: 13vh;
    display: flex;
    align-items: center;
    padding: 0 50px;
    justify-content: space-between;
}



nav ul{
    display: flex;
    align-items: center;
    gap: 60px;
    position: relative;
    left: -50px;
}


nav ul li{
    font-size: 17px;
}

.Play-button{
    padding: 25px 30px;
    font-size: 25px;
}

.Card-button{
    padding: 20px;
    font-size: 20px;
}

.Play-button, .Card-button{
    background-color: #ff5060;
    border-radius: 10px;
    transition: all 0.2s ease-in;
}

.Play-button:hover{
    padding: 30px 35px;
    font-size: 27px;
    color: white;
}

.Card-button:hover{
    padding: 25px;
    font-size: 25px;
    color: white;
}

nav ul li a:hover{
    color: #ff5060;
    transition: all 0.2s ease-in;
}

#menu{
    display: none;
}


#menu i{
    pointer-events: none;
}

.box{
    position: relative;
    bottom: 13vh;
    height: 100vh;
    opacity: 0.55;
    background-image: url(images/jay-dkFJST9zZZo-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  
}


.box::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 25vh; 
    background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));

}

nav h1{
    font-size: 30px;
}


.section1{
    position: absolute;
    bottom: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
    height: 30vh;
    width: 95vw;
}

.section1 h1{
    font-size: 50px;
    margin: 0 auto;    
}

.section1 h3{
    font-size: 25px;
    width: 40vw;
    text-align: center;
    opacity: 0.8;
}

.section1 button{
    padding: 18px;
    background-color: #ff5060;
    border: transparent;
    border-radius: 10px;
}


.section2{
    display: flex;
    justify-content: space-evenly;
}


.section2 div h1{
    font-size: 25px;
}
.section2 div{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;
    border: 3px solid #ff5060;
    text-align: center;
    gap: 20px 0;
    border-radius: 15px;
    background-color: #1f2024;
    box-shadow: 0 0 20px 5px rgba(255,0,0,0.5);
}
.section2 div p{
    width: 30vw;
    opacity: 0.6;
}

.section2 a{
    padding: 15px;
    background-color: #ff5060;
    border: transparent;
    border-radius: 20px;
    font-size: 13px;
    transition: all 0.5s ease-in;
}

.section2 a:hover{
    padding: 17px;
      font-size: 15px;
}





.slider-wrapper {
    position: relative;
    height: 600px;
    /* reason: image ghadi tkhroj 3la container */
    overflow: hidden;
    border-radius: 1rem;
    border: 3px solid rgba(253, 0, 0, 0.5);
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    background-size: cover;
    background-position: center;
}

.slide.active {
    opacity: 1;
}

.slide-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3rem;
}

.slider-nav {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;
    z-index: 10;
}

.slider-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgba(253, 0, 0, 0.3);
    transition: all 0.3s;
    border: 2px solid transparent;
}

.slider-dot.active {
    background: #ff5060;
    width: 50px;
    border-radius: 10px;
    border-color: #ff5060;
    box-shadow: 0 0 20px rgba(253, 0, 0, 0.8);
}

@media (max-width: 768px) {
    
    .slider-wrapper {
        height: 400px;
    }

}


footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px 0;
    opacity: 0.8;
    border-bottom: 1px solid rgba(255, 255, 255, 0.189);
    background-color: rgba(187, 176, 176, 0.242);
}

footer ul{
    display: flex;
    gap: 50px;
}

footer h1{
    font-size: 25px;
}

footer .paragraphe{
    width: 50vw;
    text-align: center;

}
footer .Copyright{
    font-size: 13px;
}


@media (max-width:520px){

    
    nav{
        position: relative;
        height: 10vh;
    }

    nav ul{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 10vh;
        left: 60vw;
        width: 200px;
        background-color: rgba(0, 0, 0, 0.516);      
        padding: 30px 20px;
        gap: 25px;
        z-index: 1000;
        border-radius: 0 0 0 5px;
    }

    nav ul.active{
        display: flex;
    }

    nav h1 a{
        font-size: 20px;
    }

    .Card-button{
        display: none;
    }

    .Play-button{
        padding: 15px;
        font-size: 15px;
    }

    #menu{
        display: block;
        font-size: 20px;
        position: absolute;
        right: 70px;
    }

    .Play-button:hover{
    padding: 15px;
    font-size: 27px;
    color: white;
}

.box{
    height: 60vh;
}



.section1{
    position: absolute;
    bottom: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
    height: 36vh;
    width: 100%;
}

.section1 h1{
    font-size: 20px;
    margin: 0 auto;
}

.section1 h3{
    font-size: 15px;
    width: 60vw;
    text-align: center;
    opacity: 0.8;
}

.section1 button{
    font-size: 10px;
    padding: 10px;
    background-color: #ff5060;
    border: transparent;
    border-radius: 10px;
}

.section2 {
    display: block;
    width: 100%;
    
}

.section2 div{
    margin: 0 auto;
    padding: 20px 200px;
    margin-bottom: 20px;
}



.section2 div p{
    font-size: 13px;
    text-align: start;
    width: 60vw;
}

.section2 h1{
    width: 350px;
    font-size: 25px;
}

.section2 a{
    padding: 10px;
    background-color: #ff5060;
    border: transparent;
    border-radius: 20px;
    width: 48vw;
    font-size: 10px;
    transition: all 0.2s ease-in;
}

.section2 a:hover{
    padding: 13px;
      font-size: 12px;
}

    footer .paragraphe {
        width: 70vw;
    }

}







@media (min-width: 521px) and (max-width: 1024px) {
    nav {
        height: 11vh;
        padding: 0 20px;
        overflow: hidden;
    }

    nav ul {
        gap: 30px;
        position: static;
    }

    nav ul li {
        font-size: 10px;
    }

    .Play-button {
        padding: 20px 25px;
        font-size: 20px;
    }

    .Card-button {
        padding: 15px;
        font-size: 15px;
    }

    .section1 {
        bottom: 40vh;
    }

    .section1 h1 {
        font-size: 35px;
    }

    .section1 h3 {
        font-size: 20px;
        width: 60vw;
    }

    .section2 div {
        width: 45vw;
    }

    .section2 div p {
        width: 40vw;
    }

    footer .paragraphe {
        width: 70vw;
    }
}
